body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1920px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u53 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u54_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:409px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u54 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:699px;
  width:1440px;
  height:409px;
  display:flex;
  opacity:0.59;
}
#u54 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u54_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u55_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u55 {
  border-width:0px;
  position:absolute;
  left:343px;
  top:904px;
  width:50px;
  height:50px;
  display:flex;
}
#u55 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u55_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u56_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u56 {
  border-width:0px;
  position:absolute;
  left:435px;
  top:904px;
  width:50px;
  height:50px;
  display:flex;
}
#u56 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u56_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u57_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u57 {
  border-width:0px;
  position:absolute;
  left:527px;
  top:904px;
  width:50px;
  height:50px;
  display:flex;
}
#u57 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u57_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u58_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u58 {
  border-width:0px;
  position:absolute;
  left:619px;
  top:904px;
  width:50px;
  height:50px;
  display:flex;
}
#u58 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u58_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u59_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:698px;
}
#u59 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:698px;
  display:flex;
}
#u59 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u59_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u60 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u61_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1398px;
  height:185px;
  background:-webkit-linear-gradient(270deg, rgba(245, 154, 35, 1) 0%, rgba(0, 0, 0, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(245, 154, 35, 1) 0%, rgba(0, 0, 0, 1) 100%);
  background:linear-gradient(180deg, rgba(245, 154, 35, 1) 0%, rgba(0, 0, 0, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u61 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:496px;
  width:1398px;
  height:185px;
  display:flex;
  opacity:0.8;
}
#u61 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u61_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u62_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:134px;
}
#u62 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:521px;
  width:134px;
  height:134px;
  display:flex;
}
#u62 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u62_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u63_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:59px;
}
#u63 {
  border-width:0px;
  position:absolute;
  left:316px;
  top:578px;
  width:201px;
  height:59px;
  display:flex;
}
#u63 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u63_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u64_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:59px;
}
#u64 {
  border-width:0px;
  position:absolute;
  left:572px;
  top:578px;
  width:201px;
  height:59px;
  display:flex;
}
#u64 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u64_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u65_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:59px;
}
#u65 {
  border-width:0px;
  position:absolute;
  left:828px;
  top:578px;
  width:201px;
  height:59px;
  display:flex;
}
#u65 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u65_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u66_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:61px;
}
#u66 {
  border-width:0px;
  position:absolute;
  left:506px;
  top:496px;
  width:500px;
  height:61px;
  display:flex;
}
#u66 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u66_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u67_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:59px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:#FFFFFF;
}
#u67 {
  border-width:0px;
  position:absolute;
  left:1084px;
  top:578px;
  width:201px;
  height:59px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:#FFFFFF;
}
#u67 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u68_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:83px;
}
#u68 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:749px;
  width:300px;
  height:83px;
  display:flex;
}
#u68 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u68_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u69_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u69 {
  border-width:0px;
  position:absolute;
  left:346px;
  top:746px;
  width:323px;
  height:54px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u69 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u69_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u70_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u70 {
  border-width:0px;
  position:absolute;
  left:346px;
  top:800px;
  width:265px;
  height:50px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u70 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u70_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u71_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u71 {
  border-width:0px;
  position:absolute;
  left:723px;
  top:732px;
  width:100px;
  height:100px;
  display:flex;
}
#u71 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u71_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u72_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:603px;
  height:247px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Helvetica", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u72 {
  border-width:0px;
  position:absolute;
  left:837px;
  top:751px;
  width:603px;
  height:247px;
  display:flex;
  font-family:"Helvetica", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u72 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u72_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u73_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  text-align:center;
}
#u73 {
  border-width:0px;
  position:absolute;
  left:598px;
  top:1063px;
  width:351px;
  height:45px;
  display:flex;
  font-size:24px;
  text-align:center;
}
#u73 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u73_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u74_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:389px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u74 {
  border-width:0px;
  position:absolute;
  left:346px;
  top:850px;
  width:389px;
  height:50px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u74 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u74_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u75_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:157px;
}
#u75 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:157px;
  display:flex;
}
#u75 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u75_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u76_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:349px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u76 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:699px;
  width:1440px;
  height:349px;
  display:flex;
  opacity:0.59;
}
#u76 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u76_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u77 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u78_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u78 {
  border-width:0px;
  position:absolute;
  left:343px;
  top:902px;
  width:50px;
  height:50px;
  display:flex;
}
#u78 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u78_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u79_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u79 {
  border-width:0px;
  position:absolute;
  left:435px;
  top:902px;
  width:50px;
  height:50px;
  display:flex;
}
#u79 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u79_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u80_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u80 {
  border-width:0px;
  position:absolute;
  left:527px;
  top:902px;
  width:50px;
  height:50px;
  display:flex;
}
#u80 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u80_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u81_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u81 {
  border-width:0px;
  position:absolute;
  left:619px;
  top:902px;
  width:50px;
  height:50px;
  display:flex;
}
#u81 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u81_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u82_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:698px;
}
#u82 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:698px;
  display:flex;
}
#u82 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u82_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u83_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1260px;
  height:185px;
  background:-webkit-linear-gradient(270deg, rgba(245, 154, 35, 1) 0%, rgba(0, 0, 0, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(245, 154, 35, 1) 0%, rgba(0, 0, 0, 1) 100%);
  background:linear-gradient(180deg, rgba(245, 154, 35, 1) 0%, rgba(0, 0, 0, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u83 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:496px;
  width:1260px;
  height:185px;
  display:flex;
  opacity:0.8;
}
#u83 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u83_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u84_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:134px;
}
#u84 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:521px;
  width:134px;
  height:134px;
  display:flex;
}
#u84 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u84_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u85_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:83px;
}
#u85 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:749px;
  width:300px;
  height:83px;
  display:flex;
}
#u85 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u85_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u86_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u86 {
  border-width:0px;
  position:absolute;
  left:346px;
  top:746px;
  width:265px;
  height:54px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u86 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u86_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u87_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u87 {
  border-width:0px;
  position:absolute;
  left:346px;
  top:800px;
  width:265px;
  height:50px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u87 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u87_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u88_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:94px;
}
#u88 {
  border-width:0px;
  position:absolute;
  left:312px;
  top:402px;
  width:900px;
  height:94px;
  display:flex;
}
#u88 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u88_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u89_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u89 {
  border-width:0px;
  position:absolute;
  left:723px;
  top:732px;
  width:100px;
  height:100px;
  display:flex;
}
#u89 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u89_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u90_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  height:247px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#000000;
}
#u90 {
  border-width:0px;
  position:absolute;
  left:845px;
  top:705px;
  width:560px;
  height:247px;
  display:flex;
  font-size:20px;
  color:#000000;
}
#u90 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u90_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u91_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  text-align:center;
}
#u91 {
  border-width:0px;
  position:absolute;
  left:587px;
  top:1003px;
  width:351px;
  height:45px;
  display:flex;
  font-size:24px;
  text-align:center;
}
#u91 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u91_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u92_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u92 {
  border-width:0px;
  position:absolute;
  left:346px;
  top:850px;
  width:345px;
  height:50px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u92 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u92_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u93 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u94_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1290px;
  height:2796px;
}
#u94 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:90px;
  width:1290px;
  height:2796px;
  display:flex;
}
#u94 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u94_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u95_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(245, 154, 35, 1) 0%, rgba(0, 0, 0, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(245, 154, 35, 1) 0%, rgba(0, 0, 0, 1) 100%);
  background:linear-gradient(180deg, rgba(245, 154, 35, 1) 0%, rgba(0, 0, 0, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u95 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  display:flex;
  opacity:0.88;
}
#u95 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u95_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u96_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:624px;
  height:424px;
}
#u96 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:15px;
  width:624px;
  height:424px;
  display:flex;
}
#u96 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u96_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u97_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u97 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:25px;
  width:74px;
  height:34px;
  display:flex;
}
#u97 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u97_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u98_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u98 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:4px;
  width:196px;
  height:34px;
  display:flex;
}
#u98 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u98_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u99 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u100 {
  position:fixed;
  left:50%;
  margin-left:0px;
  bottom:0px;
}
#u100_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u100_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u101 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u102 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u103_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(245, 154, 35, 1) 0%, rgba(0, 0, 0, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(245, 154, 35, 1) 0%, rgba(0, 0, 0, 1) 100%);
  background:linear-gradient(180deg, rgba(245, 154, 35, 1) 0%, rgba(0, 0, 0, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u103 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:157px;
  width:100px;
  height:60px;
  display:flex;
  opacity:0.88;
}
#u103 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u103_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u104_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u104 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:166px;
  width:140px;
  height:40px;
  display:flex;
}
#u104 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u104_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u105_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
}
#u105 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:160px;
  width:300px;
  height:170px;
  display:flex;
}
#u105 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u105_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u106 {
  border-width:0px;
  position:absolute;
  left:157px;
  top:0px;
  width:300px;
  height:170px;
}
#u106_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u106_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u107_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:59px;
}
#u107 {
  border-width:0px;
  position:absolute;
  left:159px;
  top:47px;
  width:201px;
  height:59px;
  display:flex;
}
#u107 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u108_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:59px;
}
#u108 {
  border-width:0px;
  position:absolute;
  left:671px;
  top:47px;
  width:201px;
  height:59px;
  display:flex;
}
#u108 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u108_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u109_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:59px;
}
#u109 {
  border-width:0px;
  position:absolute;
  left:415px;
  top:47px;
  width:201px;
  height:59px;
  display:flex;
}
#u109 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u109_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u110_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:59px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:#FFFFFF;
}
#u110 {
  border-width:0px;
  position:absolute;
  left:927px;
  top:47px;
  width:201px;
  height:59px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:#FFFFFF;
}
#u110 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u110_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:768px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#u54.a {
}
#u54_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:409px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u54.a {
}
#u54_text.a {
}
#u54 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u55.a {
}
#u55_img.a {
}
#u55.a {
}
#u55_text.a {
}
#u55 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u56.a {
}
#u56_img.a {
}
#u56.a {
}
#u56_text.a {
}
#u56 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u57.a {
}
#u57_img.a {
}
#u57.a {
}
#u57_text.a {
}
#u57 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u58.a {
}
#u58_img.a {
}
#u58.a {
}
#u58_text.a {
}
#u58 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u59.a {
}
#u59_img.a {
}
#u59.a {
}
#u59_text.a {
}
#u59 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u61.a {
}
#u61_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1398px;
  height:185px;
  background:-webkit-linear-gradient(270deg, rgba(245, 154, 35, 1) 0%, rgba(0, 0, 0, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(245, 154, 35, 1) 0%, rgba(0, 0, 0, 1) 100%);
  background:linear-gradient(180deg, rgba(245, 154, 35, 1) 0%, rgba(0, 0, 0, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u61.a {
}
#u61_text.a {
}
#u61 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u62.a {
}
#u62_img.a {
}
#u62.a {
}
#u62_text.a {
}
#u62 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u63.a {
}
#u63_img.a {
}
#u63.a {
}
#u63_text.a {
}
#u63 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u64.a {
}
#u64_img.a {
}
#u64.a {
}
#u64_text.a {
}
#u64 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u65.a {
}
#u65_img.a {
}
#u65.a {
}
#u65_text.a {
}
#u65 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u66.a {
}
#u66_img.a {
}
#u66.a {
}
#u66_text.a {
}
#u66 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u67.a {
}
#u67_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:59px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:#FFFFFF;
}
#u67.a {
}
#u67_text.a {
}
#u67 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u68.a {
}
#u68_img.a {
}
#u68.a {
}
#u68_text.a {
}
#u68 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u69.a {
}
#u69_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u69.a {
}
#u69_text.a {
}
#u69 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u70.a {
}
#u70_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u70.a {
}
#u70_text.a {
}
#u70 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u71.a {
}
#u71_img.a {
}
#u71.a {
}
#u71_text.a {
}
#u71 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u72.a {
}
#u72_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:603px;
  height:247px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Helvetica", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u72.a {
}
#u72_text.a {
}
#u72 .text.a {
  align-self:center;
  padding:0px 0px 0px 0px;
}
#u73.a {
}
#u73_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  text-align:center;
}
#u73.a {
}
#u73_text.a {
}
#u73 .text.a {
  align-self:center;
  padding:0px 0px 0px 0px;
}
#u74.a {
}
#u74_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:389px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u74.a {
}
#u74_text.a {
}
#u74 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u75.a {
}
#u75_img.a {
}
#u75.a {
}
#u75_text.a {
}
#u75 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u76.a {
  left:591px;
  top:917px;
}
#u76_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:349px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u76.a {
  left:591px;
  top:917px;
}
#u76_text.a {
}
#u76 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u78.a {
  left:41px;
  top:2024px;
  width:30px;
  height:30px;
}
#u78_img.a {
  width:30px;
  height:30px;
}
#u78.a {
  left:41px;
  top:2024px;
  width:30px;
  height:30px;
}
#u78_text.a {
}
#u78 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u79.a {
  left:91px;
  top:2024px;
  width:30px;
  height:30px;
}
#u79_img.a {
  width:30px;
  height:30px;
}
#u79.a {
  left:91px;
  top:2024px;
  width:30px;
  height:30px;
}
#u79_text.a {
}
#u79 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u80.a {
  left:141px;
  top:2024px;
  width:30px;
  height:30px;
}
#u80_img.a {
  width:30px;
  height:30px;
}
#u80.a {
  left:141px;
  top:2024px;
  width:30px;
  height:30px;
}
#u80_text.a {
}
#u80 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u81.a {
  left:191px;
  top:2024px;
  width:30px;
  height:30px;
}
#u81_img.a {
  width:30px;
  height:30px;
}
#u81.a {
  left:191px;
  top:2024px;
  width:30px;
  height:30px;
}
#u81_text.a {
}
#u81 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u82.a {
}
#u82_img.a {
}
#u82.a {
}
#u82_text.a {
}
#u82 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u83.a {
  left:658px;
  top:175px;
}
#u83_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1260px;
  height:185px;
  background:-webkit-linear-gradient(270deg, rgba(245, 154, 35, 1) 0%, rgba(0, 0, 0, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(245, 154, 35, 1) 0%, rgba(0, 0, 0, 1) 100%);
  background:linear-gradient(180deg, rgba(245, 154, 35, 1) 0%, rgba(0, 0, 0, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u83.a {
  left:658px;
  top:175px;
}
#u83_text.a {
}
#u83 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u84.a {
  left:0px;
  top:7px;
  width:60px;
  height:60px;
}
#u84_img.a {
  width:60px;
  height:60px;
}
#u84.a {
  left:0px;
  top:7px;
  width:60px;
  height:60px;
}
#u84_text.a {
}
#u84 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u85.a {
  left:13px;
  top:1747px;
  width:200px;
  height:56px;
}
#u85_img.a {
  width:200px;
  height:56px;
}
#u85.a {
  left:13px;
  top:1747px;
  width:200px;
  height:56px;
}
#u85_text.a {
}
#u85 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u86.a {
  left:41px;
  top:1845px;
  width:589px;
  height:35px;
}
#u86_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:589px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u86.a {
  left:41px;
  top:1845px;
  width:589px;
  height:35px;
}
#u86_text.a {
}
#u86 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u87.a {
  left:41px;
  top:1900px;
  height:32px;
}
#u87_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u87.a {
  left:41px;
  top:1900px;
  height:32px;
}
#u87_text.a {
}
#u87 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u88.a {
}
#u88_img.a {
}
#u88.a {
}
#u88_text.a {
}
#u88 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u89.a {
  left:41px;
  top:2136px;
}
#u89_img.a {
}
#u89.a {
  left:41px;
  top:2136px;
}
#u89_text.a {
}
#u89 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u90.a {
  left:41px;
  top:2285px;
  width:625px;
}
#u90_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:625px;
  height:247px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#000000;
}
#u90.a {
  left:41px;
  top:2285px;
  width:625px;
}
#u90_text.a {
}
#u90 .text.a {
  align-self:center;
  padding:0px 0px 0px 0px;
}
#u91.a {
  left:178px;
  top:2640px;
}
#u91_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  text-align:center;
}
#u91.a {
  left:178px;
  top:2640px;
}
#u91_text.a {
}
#u91 .text.a {
  align-self:center;
  padding:0px 0px 0px 0px;
}
#u92.a {
  left:41px;
  top:1956px;
  width:471px;
  height:28px;
}
#u92_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:471px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u92.a {
  left:41px;
  top:1956px;
  width:471px;
  height:28px;
}
#u92_text.a {
}
#u92 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u94.a {
  left:0px;
  top:0px;
  width:768px;
  height:1665px;
}
#u94_img.a {
  width:768px;
  height:1665px;
}
#u94.a {
  left:0px;
  top:0px;
  width:768px;
  height:1665px;
}
#u94_text.a {
}
#u94 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u95.a {
  width:768px;
  height:99px;
  opacity:0.59;
}
#u95_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:768px;
  height:99px;
  background:-webkit-linear-gradient(270deg, rgba(245, 154, 35, 1) 0%, rgba(0, 0, 0, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(245, 154, 35, 1) 0%, rgba(0, 0, 0, 1) 100%);
  background:linear-gradient(180deg, rgba(245, 154, 35, 1) 0%, rgba(0, 0, 0, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u95.a {
  width:768px;
  height:99px;
  opacity:0.59;
}
#u95_text.a {
}
#u95 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u96.a {
  top:8px;
  width:82px;
  height:82px;
}
#u96_img.a {
  width:82px;
  height:82px;
}
#u96.a {
  top:8px;
  width:82px;
  height:82px;
}
#u96_text.a {
}
#u96 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u97.a {
  left:154px;
  top:58px;
  width:598px;
  height:41px;
}
#u97_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:598px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u97.a {
  left:154px;
  top:58px;
  width:598px;
  height:41px;
}
#u97_text.a {
}
#u97 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u98.a {
  left:154px;
  top:2px;
  width:236px;
  height:49px;
}
#u98_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u98.a {
  left:154px;
  top:2px;
  width:236px;
  height:49px;
}
#u98_text.a {
}
#u98 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u100.a {
  position:fixed;
  left:50%;
  margin-left:-381.5px;
  bottom:0px;
}
#u103.a {
  left:-5px;
  top:632px;
  width:768px;
  height:127px;
}
#u103_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:768px;
  height:127px;
  background:-webkit-linear-gradient(270deg, rgba(245, 154, 35, 1) 0%, rgba(0, 0, 0, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(245, 154, 35, 1) 0%, rgba(0, 0, 0, 1) 100%);
  background:linear-gradient(180deg, rgba(245, 154, 35, 1) 0%, rgba(0, 0, 0, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u103.a {
  left:-5px;
  top:632px;
  width:768px;
  height:127px;
}
#u103_text.a {
}
#u103 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u104.a {
  left:317px;
  top:655px;
  width:326px;
  height:82px;
  opacity:0.88;
}
#u104_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:82px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u104.a {
  left:317px;
  top:655px;
  width:326px;
  height:82px;
  opacity:0.88;
}
#u104_text.a {
}
#u104 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u105.a {
  left:145px;
  top:632px;
  width:127px;
  height:127px;
  opacity:0.88;
}
#u105_img.a {
  width:127px;
  height:127px;
}
#u105.a {
  left:145px;
  top:632px;
  width:127px;
  height:127px;
  opacity:0.88;
}
#u105_text.a {
}
#u105 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u106.a {
  border-width:0px;
  position:absolute;
  left:317px;
  top:144px;
  width:207px;
  height:511px;
}
#u107.a {
  left:0px;
  top:448px;
  width:200px;
}
#u107_img.a {
  width:200px;
}
#u107.a {
  left:0px;
  top:448px;
  width:200px;
}
#u107_text.a {
}
#u107 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u108.a {
  left:0px;
  top:278px;
  width:200px;
}
#u108_img.a {
  width:200px;
}
#u108.a {
  left:0px;
  top:278px;
  width:200px;
}
#u108_text.a {
}
#u108 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u109.a {
  left:0px;
  top:363px;
  width:200px;
}
#u109_img.a {
  width:200px;
}
#u109.a {
  left:0px;
  top:363px;
  width:200px;
}
#u109_text.a {
}
#u109 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u110.a {
  left:0px;
  top:193px;
  width:200px;
}
#u110_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:59px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:#FFFFFF;
}
#u110.a {
  left:0px;
  top:193px;
  width:200px;
}
#u110_text.a {
}
#u110 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u106_state0.a {
  width:207px;
  height:511px;
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u100_state0.a {
  position:relative;
  left:0px;
  top:0px;
  width:763px;
  height:759px;
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
